<header id="header" class="navbar navbar-default navbar-static-top" >
  <div class="clearfix">

    <span class="hd-logo">The Lashfords</span>

    <!-- responsive menu -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="nc.isNavCollapsed = !nc.isNavCollapsed">
        <span class="sr-only">Navigation Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!-- /responsive menu -->

    <!-- menu -->
    <nav class="hd-nav nav navbar-nav navbar-right navbar-collapse collapse" uib-collapse="nc.isNavCollapsed">
      <ul class="nav navbar-nav hd-list-menu clearfix">
        <li>
          <a>
            <span class="link-title">Home</span>
            <span class="link-subtitle">countdown</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /menu -->
  </div>
</header>
