<header id="header" class="navbar navbar-default navbar-static-top" >
  <div class="clearfix">

    <span class="hd-logo">The Lashfords</span>

    <!-- responsive menu -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="nc.isNavCollapsed = !nc.isNavCollapsed">
        <span class="sr-only">Navigation Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!-- /responsive menu -->

    <!-- menu -->
    <nav class="hd-nav nav navbar-nav navbar-right navbar-collapse collapse" uib-collapse="nc.isNavCollapsed">
      <ul class="nav navbar-nav hd-list-menu clearfix">
        <li>
          <a href="/">
            <span class="link-title">Home</span>
            <span class="link-subtitle">countdown</span>
          </a>
        </li>
        <li>
          <a href="/venue">
            <span class="link-title">Venue</span>
            <span class="link-subtitle">the barn</span>
          </a>
        </li>
        <li>
          <a href="/rsvp">
            <span class="link-title">R.S.V.P</span>
            <span class="link-subtitle">Reply</span>
          </a>
        </li>
        <li>
          <a href="/hotels">
            <span class="link-title">Hotels</span>
            <span class="link-subtitle">Accomodation</span>
          </a>
        </li>
        <li>
          <a href="/gifts">
            <span class="link-title">Gifts</span>
            <span class="link-subtitle">Gift List</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /menu -->
  </div>
</header>
