<!-- content -->
<div class="page-content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 couple-container">
				<h1 class="title1 couple-title1 title1-border">Hotels</h1>
      	<div class="page-intro">
					<h3>Here is a selection of hotels we recommend for our wedding, if you are planning on staying the night.</h3>
				</div>
				<hr/>
	  </div>
	</div>

	<div class="row">
			<!-- Travel Lodge -->
			<div class="col-sm-6 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="http://www.premierinn.com/gb/en/hotels/england/greater-manchester/manchester/manchester-wilmslow.html"><img src="assets/images/premierinn.jpg" alt="Premier Inn"></a>
					</div>
					<h2 class="about-item-title">Premier Inn</h2>
					<h3><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i> </h3>
					<h3 class="about-item-subtitle">4.3 miles from venue (12 mins Taxi)</h3>
					<div class="about-item-content">
						<p>Racecourse Rd, Wilmslow, SK9 5LR</p>
						<p>Approx. £55 per night</p>
					</div>
				</div>
			</div>
			<!-- /Travel Lodge -->

			<!-- Hotel 2 -->
			<div class="col-sm-6 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="https://www.ihg.com/holidayinnexpress/hotels/gb/en/manchester/mchma/hoteldetail"><img src="assets/images/holiday-inn.png" alt="Holiday Inn"></a>
					</div>
					<h2 class="about-item-title">Holiday Inn Express</h2>
					<h3><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i> </h3>
					<h3 class="about-item-subtitle">5.4 miles from venue (14 mins Taxi)</h3>
					<div class="about-item-content">
						<p>Runger Ln, Manchester, M90 5DL</p>
						<p>Approx. £75 per night</p>
					</div>
				</div>
			</div>
			<!-- /hotel 2 -->

			<!-- Hotel 3 -->
			<div class="col-sm-6 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="http://www.marriott.com/hotels/travel/manap-manchester-airport-marriott-hotel/"><img src="assets/images/marriott.png" alt="Marriott"></a>
					</div>
					<h2 class="about-item-title">Marriott</h2>
					<h3><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i> </h3>
					<h3 class="about-item-subtitle">5.5 miles from venue (14 mins Taxi)</h3>
					<div class="about-item-content">
						<p>Hale Rd, Hale Barns, Manchester, WA15 8XW</p>
						<p>Approx. £110 per night</p>
					</div>
				</div>
			</div>
			<!-- /hotel 3 -->

			<!-- Hotel 4 -->
			<div class="col-sm-6 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="https://www.thwaites.co.uk/hotels-and-inns/hotels/cottons-hotel-knutsford/"><img src="assets/images/cottons.jpg" alt="The Cottons"></a>
					</div>
					<h2 class="about-item-title">The Cottons</h2>
					<h3><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i> </h3>
					<h3 class="about-item-subtitle">5.1 miles from venue (15 mins Taxi)</h3>
					<div class="about-item-content">
						<p>Manchester Rd, Knutsford, WA16 0SU</p>
						<p>Approx. £110 per night</p>
					</div>
				</div>
			</div>
			<!-- /hotel 4 -->
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 couple-container">
					<h1 class="title1 couple-title1 title1-border">Taxis</h1>
					<div class="page-intro">
						<h3>The venue have requested that guests pre book taxi's or arrange lifts back to the hotels, please see a list of local taxi firms.</h3>
					</div>
					<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="http://www.amber-taxis.co.uk"><img src="assets/images/amber.png" alt="Amber Taxis"></a>
					</div>
					<h3 class="about-item-title">Amber Taxis</h3>
					<h3 class="about-item-subtitle">01565 650 707</h3>
				</div>
			</div>

			<div class="col-sm-4 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="http://www.uber.com/en-GB/"><img src="assets/images/uber.png" alt="UBER"></a>
					</div>
					<h3 class="about-item-title">UBER</h3>
					<h3 class="about-item-subtitle">Pre book via the App</h3>
				</div>
			</div>

			<div class="col-sm-4 col-xs-12">
				<div class="about-item">
					<div class="about-item-picture">
						<a target="_blank" href="http://www.abacustaxisknutsford.co.uk/"><img src="assets/images/abacus.png" alt="Abacus Taxis"></a>
					</div>
					<h3 class="about-item-title">Abacus Taxis</h3>
					<h3 class="about-item-subtitle">01565 745 022</h3>
				</div>
			</div>



		</div>

</div>
