<!-- content -->
<div class="page-content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h1 class="title1 couple-title1 title1-border">Owen House Wedding Barn</h1>
				<div class="page-intro">
					<p>Coming to our wedding? Well here’s the details on the big day!</p>
				</div>
				<!-- left pane -->
				<div class="col-sm-6 text-center">

					<h3><img src="/assets/images/maps.png" width="8%" height="8%" alt="Google Maps"></img> Directions</h3>
					<p>Owen House Wedding Barn</p>
					<p>Small Ln, Mobberley, Cheshire, WA16 7NY</p>
					<div class="iframe-wrapper">
						<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=53.3295%2C-2.3270&key=AIzaSyBgwxhPcFjPN130GVBEXXG4bPujsHwBwL4" allowfullscreen></iframe>
					</div>
				</div>
				<!-- right pane -->
				<div class="col-sm-6 text-center">
					<h3><i class="glyphicon glyphicon-camera"></i> Venue Photos</h3>
					<p>Take a look around the venue</p>

					<div>
						<uib-carousel>
					    <uib-slide ng-repeat="slide in venue.slides" active="slide.active" ng-animate="false">
					      <img ng-src="{{slide.image}}?{{$index}}" style="margin:auto;">
					    </uib-slide>
					  </uib-carousel>
					</div>

				</div>
			</div>
		</div>
</div>
