<!-- content -->
<div class="page-content page-home">
	<!-- home logo -->
	<div class="row">
		<div class="home-logo col-sm-8 col-sm-offset-2">
			<p class="couple-title">Alex &amp; Katy</p>
		</div>
	</div>
	<!-- /home-logo -->
	<!-- Countdown container -->
	<div class="row">
		<div class="countdown-container">
			<!-- icon -->
			<div class="countdown-icon">
				<img src="/assets/images/ico-heart2.png" alt="">
			</div>
			<!-- /icon -->
			<!-- countdown title top -->
			<h2 class="countdown-title countdown-title1"><span class="countdown-title-borders">24th February 2018 @ Owen House Barn</span></h2>
			<!-- /countdown title top -->
			<!-- countdown ( Edit it on main.js ) TODO add to Angular controller-->
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
          <!-- <pre>{{home.countdown}}</pre> -->
					<div id="countdown" class="row">
            <div class="countdown-col-wrapper col-xs-3"><div class="countdown-col"><span class="countdown-time"> {{home.countdown.days}} </span> Days </div></div>
            <div class="countdown-col-wrapper col-xs-3"><div class="countdown-col"><span class="countdown-time"> {{home.countdown.hours}} </span> Hours </div></div>
            <div class="countdown-col-wrapper col-xs-3"><div class="countdown-col"><span class="countdown-time"> {{home.countdown.minutes}} </span> Minutes </div></div>
            <div class="countdown-col-wrapper col-xs-3"><div class="countdown-col"><span class="countdown-time"> {{home.countdown.seconds}} </span> Seconds </div></div>
          </div>
				</div>
			</div>
			<!-- /countdown -->
			<!-- countdown title bot -->
			<h3 class="countdown-title countdown-title2"><span class="countdown-title-borders">Until we get Married!</span></h3>
			<!-- countdown title /bot -->
		</div>
	</div>
	<!-- /Countdown Container -->
</div>
