<!-- content -->
<div class="page-content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 couple-container">
				<!--  1 -->
				<h1 class="title1 couple-title1 title1-border">The Gallery</h1>
				<div class="text-center align-vertical">
					<i class="glyphicon glyphicon-camera" style="font-size:42px;"></i>

					<form>
						<input id="file" type="file" accept="image/*" multiple>

						https://github.com/pinoyyid/ngDrive-demo/blob/master/demo_app/minimal.html

						https://github.com/pinoyyid/ngDrive

						http://jsfiddle.net/danialfarid/huhjo9jm/5/
						
					</form>
				</div>
		</div>
	</div>
</div>
