<!-- content -->
<div class="page-content">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 couple-container">
				<h1 class="title1 couple-title1 title1-border">Gifts</h1>
      	<div class="page-intro poem">
					<span class="poem">
						  We can’t wait to spend our wedding day with you,<br/>
							We’ve been planning hard and spending money for a good year or two.<br/>
							Having you there is gift enough, but if you must,<br/>
							we’re keen to start our married life in style,<br/>
							An amazing honeymoon would really make us smile.<br/>
							Instead of a gift list from a high street shop,<br/>
							We’d really love some money so that on a beach we can flop!<br/>
							Your financial donation would truly mean a lot,<br/>
							So thank you for contributing to our honeymoon pot!
						</span>
					<hr/>
					<span class="poem">See you at our big day, Love Alex &amp; Katy </span>
				</div>
	  </div>
	</div>
</div>
